@model CrudOperation.Models.Item

@*<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Borrowed Item List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Item" asp-action="Create" class="btn btn-primary">Create new Item</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Borrower
                    </th>
                    <th>
                        Lender
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="30%">@item.ItemName</td>
                        <td width="30%">@item.Borrower</td>
                        <td width="30%">@item.Lender</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No items created yet</p>
    }

</div>*@


<form method="post" asp-action="Create">
        <div class="border p-3">
            <div class="form-group row">
                <h2 class="text-black-50 pl-3">Add Item</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="ItemName"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="Borrower"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="Lender"></label>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-4">
                            <input asp-for="ItemName" class="form-control" />
                        </div>
                        <div class="col-4">
                            <input asp-for="Borrower" class="form-control" />
                        </div>
                        <div class="col-4">
                            <input asp-for="Lender" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-75" value="Create" /> 
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


